<!DOCTYPE html>
<html>
  <head>
    <title> Big mans Big Book Bargain Bin</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <header class="main">
    <%= image_tag 'logo.svg', alt: 'Big mans Big Book Bargain Bin' %>
    <h1> <%= @page_title %> </h1>
    <div class="time"> <%= Time.now.strftime("%H:%M") %> </div>
  </header>

  <section class="content">
    <nav class="side_nav">
      <ul> 
        <li><a href="/">Home</a><li>
        <li><a href="/questions">FAQ</a><li>
        <li><a href="/news">News</a><li>
        <li><a href="/contact">Contact</a><li>
      </ul>
    </nav>

    <main class='<%= controller.controller_name %>'>
    <%= yield %>
    </main>
  </section>


  </body>
</html>
